<div class="row searchrw">
    <div class="col-md-12">
        <div class="input-group" id="adv-search">
            <input type="text" class="form-control custom-searchbar" id="search" placeholder="Avengers" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <form class="form-horizontal" role="form">
                        <button id="searchMovie" type="submit" value="search" class="btn-search btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="results-title">Resultaten</h1>
        </div>
    </div>
    <div class="youtubeRow">
        <!-- Set YouTube results -->
        <div id="results"></div>
    </div>
    <div class="row">
        <!-- Set IMDB results -->
        <div id="imdb-container"></div>
    </div>
<div id="testdiv"></div>
