@{
    Layout = null;
}

<div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card-result">
        <h4 class="film-title">{{title}}</h4>
        <img width="330" height="240" src="https://img.youtube.com/vi/{{videoid}}/hqdefault.jpg" />
        <a class="btn btn-primary watchTrailer" data-fancybox="gallery" href="//www.youtube.com/watch?v={{videoid}}">Bekijk Trailer</a>
        <a target="_blank" class="btn btn-danger watchTrailer" href="//www.youtube.com/watch?v={{videoid}}">Youtube</a>
    </div>
</div>
